body {
  margin: 0;
  padding: 0;
  background-color: #191c19;
}
.navbar {
  height: 50px;
  border: 1px solid white;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  /* padding: 10px; */
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 5px;
  /* display: flex;
  align-items: center; */
}
.navbar ul {
  height: 100%;
  margin: 0;
  padding: 0;
}
.navbar ul li {
  display: inline-block;
  line-height: 40px;
  color: white;
  margin-top: 4px;
}

.menu {
  display: none;
}

.menu-content {
  position: fixed;
  background-color: #e1d6c3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.menu-content ul {
  list-style-type: none;
  height: 100%;
  /* width: 30%; */
  /* margin-left: 40%; */
  padding: 0;
}
.exit {
  width: 7%;
  margin: 20px;
}
.menu-content ul li {
  text-decoration: none;
  list-style-type: none;
  /* padding-top: 10px; */
  border: 1px solid white;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: center;
  /* display: inline-block; */
  /* line-height: 40px; */
  /* color: white; */
  /* margin-top: 4px; */
}
.menu_secound_nav:hover {
  background-color: #191c19;
  color: #e1d6c3;
}
.menu_third_nav:hover {
  background-color: #191c19;
  color: #e1d6c3;
}
.menu_fourth_nav:hover {
  background-color: #191c19;
  color: #e1d6c3;
}
.menu_fifth_nav:hover {
  background-color: #191c19;
  color: #e1d6c3;
}
.slide-in {
  animation: slideIn 0.5s ease-in-out forwards;
}

.slide-out {
  animation: slideOut 0.5s ease-in-out forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}
.first_nav {
  height: 40px;
  width: 30%;
  text-align: center;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  background-color: #333024;

  margin-left: 5px;
}
.secound_nav {
  width: 150px;
  height: 39px;
  /* margin-left: -100px; */
  /* margin-top: 5px; */
  /* margin-left: 5px; */
  text-align: center;
  border: 1px solid white;
  /* background-color: red; */
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.secound_nav:hover {
  background-color: #e1d6c3;
  color: #191c19;
}
.third_nav {
  width: 150px;
  height: 39px;
  text-align: center;
  border: 0.5px solid white;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.third_nav:hover {
  background-color: #e1d6c3;
  color: #191c19;
}
.fourth_nav {
  width: 150px;
  height: 39px;
  text-align: center;
  border: 0.5px solid white;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.fourth_nav:hover {
  background-color: #e1d6c3;
  color: #191c19;
}
.fifth_nav {
  width: 150px;
  height: 39px;
  float: right;
  /* margin: 5px; */
  text-align: center;
  border: 0.5px solid white;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  margin-right: 5px;
}
.fifth_nav:hover {
  background-color: #e1d6c3;
  color: #191c19;
}
.container {
  display: flex;
  padding: 0;
  margin: 0;
}

.left {
  width: 350px;
  height: 700px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background-color: #e1d6c3;
  margin: 5px;
  /* padding: 0; */
}

.left-header {
  color: #191c19;
  margin-top: 40px;
  margin-left: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border: 1px solid #191c19;
  width: 45%;
  padding: 2px;
}
.left-paragraph {
  color: #191c19;
  margin-top: 20px;
  margin-left: 40px;
  /* width: 160px; */
  padding: 1px;
}

.fill {
  /* margin-left: 40px; */
  /* margin: 10px 30px 10px 30px; */
  margin: 10px;
  height: 557px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.fill img {
  object-fit: cover;
  height: 100%;
}
.right {
  width: 100%;
  height: 705px;
  display: flex;
  flex-direction: column;
  /* margin-top: 10px; */
}

.top {
  flex: 1;
  margin: 5px;
  display: flex;
  background-color: #8f8969;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  /* margin: 5px; */
  height: 350px;
}
.top-header {
  color: #191c19;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border: 1px solid #191c19;
  width: 90px;
  margin-top: 40px;
  margin-left: 40px;
  padding: 2px;
}
.top-header2 {
  color: #191c19;
  margin-left: 40px;
}
.top-container {
  padding: 0;
  margin: 0;
  float: right;
}
.top-paragraph {
  color: #191c19;
  width: 90%;
  margin-left: 40px;
}
.fill2 {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* height: 300px; */
  width: 100%;
  margin-left: 50px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}
.fill2 img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.bottom {
  flex: 1;
  display: flex;
  /* height: 355px; */
  /* width: 100%; */
  /* margin: 5px; */
  /* background-color: blue; */
}

.bottom-left {
  flex: 1;
  margin: 5px;
  /* width: 100px; */
  /* margin: 5px; */
  background-color: #8e6654;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.fill3 {
  /* width: 100%; */
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 10px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  padding-top: 150px;
}
.fill3 img {
  object-fit: contain;
  width: 100%;
}
.bottom-left-title {
  color: #191c19;
  width: 95%;
  margin: 10px;
  margin-left: 40px;
}
.bottom-left-paragraph {
  color: #191c19;
  width: 90%;
  margin-left: 40px;
  margin-bottom: 40px;
}
.bottom-right {
  background-color: #b4a38b;
  flex: 1;
  margin: 5px;
  /* display: flex; */
  /* margin: 5px; */
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.bottom-right-container {
  display: flex;
  justify-content: space-between;
}
.bottom-right-header {
  text-align: center;
  color: #191c19;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border: 1px solid #191c19;
  width: 90px;
  height: 100%;
  margin-top: 40px;
  margin-left: 40px;
  /* margin-right: 30%; */
  padding: 5px;
}
.fill4 {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 10px;
  /* float: right; */
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  /* padding-top: 150px; */
  /* margin-left: 50%; */

  margin-top: 10px;
}
.fill4 img {
  object-fit: contain;
  width: 100%;
}

.bottom-right-header2 {
  color: #191c19;
  margin-left: 40px;
}
.bottom-right-paragraph {
  color: #191c19;
  margin-left: 40px;
  width: 70%;
}
/* .third-block-image {
  height: 100px;
} */
@media (max-width: 962px) {
  .container {
    flex-direction: column;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 5px;
  }
  .menu {
    float: right;
    text-align: center;
    width: 150px;
    border: 1px solid white;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    margin-left: 10px;
    margin-right: 5px;
    display: inline-block;
    line-height: 40px;
    color: white;
    margin-top: 4px;
  }
  .menu:hover {
    background-color: #e1d6c3;
    color: #191c19;
  }
  .fill {
    margin: 20px;
    /* border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px; */
  }
  .fill img {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
  }
  .fill2 img {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }
  .left {
    width: 100%;
    margin: 0;
  }
  .left-header {
    width: 150px;
  }
  /* .top-header2 {
    width: 100%;
  } */
  .navbar ul {
    float: left;
  }
  .navbar .first_nav {
    width: 300px;
  }
  .navbar .secound_nav {
    display: none;
  }
  .navbar .third_nav {
    display: none;
  }
  .navbar .fourth_nav {
    display: none;
  }
  .navbar .fifth_nav {
    display: none;
  }
  .right {
    width: 100%;
    /* height: auto; */
    /* background-color: blue; */
  }
}
@media (max-width: 600px) {
  .container {
    flex-direction: column;
    margin-left: 3%;
    margin-right: 3%;
  }
  .navbar {
    margin-left: 10px;
    margin-right: 5px;
  }
  .navbar .first_nav {
    width: 150px;
  }
  .left-header {
    width: 150px;
  }
  .left {
    padding-bottom: 10px;
    margin: 0px;
  }
  /* .top {
    margin-top: 5px;
  } */
  .top {
    flex-direction: column;
    margin-top: 10px;
    height: 100%;
  }
  .top-header {
    margin-top: 10px;
  }

  .top-container {
    float: none;
  }
  .fill2 {
    margin-left: 5%;
    margin-top: 20px;
    height: 200px;
    width: 90%;
    order: -1;
  }
  .fill3 {
    margin: 20px;
  }
  .right {
    /* width: 100%; */
    /* height: auto; */
    /* background-color: blue; */
  }
  .top-paragraph {
    width: 85%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  .bottom {
    display: block;
  }
  .bottom-left {
    padding: 5px;
    height: 50%;
  }
  .bottom-right {
    height: 50%;
    margin-bottom: 20%;
  }
}
